{% extends "layout.html" %}

{% set pageId = "page-search" %}

  {% block title %}
    <title>Resultado da pesquisa</title>
  {% endblock title %}

  {% block styles %}
    <link rel="stylesheet" href="/styles/search.css">
  {% endblock styles %}

  {# id="page-search" #}

  {% block content %}
    
    {% include "partials/page-header.html" %}

    <main>

    {% if total > 0 %}

      <h3><strong>{{ total }} pontos</strong> encontrados</h3>

      <div class="cards">

        {% for place in places %}
          <div class="card">
            <img src="{{ place.image }}" alt="{{ place.name }}">
            <h1>{{ place.name }}</h2>
            <h3>{{ place.items }}</h3>
            <p>
              {{ place.city }}, {{ place.state }} <br>
              {{ place.address }} <br>
              {{ place.address2 }}
            </p>
          </div>
        {% endfor %}

      </div>

    {%else%}

      <h4><strong>Nenhum</strong> local encontrado</h4>

    {% endif %}

    </main>
  {% endblock content %}
